@model Document.Models.Requester

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Requester</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dept)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dept)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MgrName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MgrName)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LDap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LDap)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HRUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HRUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HRReviewer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HRReviewer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HRMgr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HRMgr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinanceInitiator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinanceInitiator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinanceReviewr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinanceReviewr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinanceMgr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinanceMgr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechnicalPlanning)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechnicalPlanning)
        </dd>
       
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EmployeeCode">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
